.u-lab {
  display: table;
  margin: 25px 0 15px;
}
.u-lab p {
  display: table-cell;
  width: 50%;
  border-top: 1px solid #969696;
}
.u-lab span {
  display: block;
  margin: -10px 16px 0;
  font-size: 16px;
}