
.u-tips {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
  color: $gray-light;
}

//.u-tips {
//  margin: $gridSpace 0;
//  font-size: 14px;
//
//  strong {
//    font-size: 15px;
//  }
//  a:not(.u-btn) {
//    text-decoration: underline;
//  }
//  a:hover {
//    text-decoration: none;
//  }
//
//  &-err {
//    display: none;
//    color: $red;
//
//    &.show {
//      display: block;
//    }
//  }
//}
