/************************** Unity **************************/
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Helvetica, 'Microsoft YaHei', sans-serif;
  color: #555555;
}

small {
  font-size: 68%;
}

a, a:hover, a:focus {
  text-decoration: none;
}

input[type=range] {
  height: 20px;
  padding: 0;
  border: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid #a3a3a3;
  background-color: #fff;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin-top: -6px;
  margin-bottom: -6px;
  /*for edge*/
  border-radius: 0;
  border: none;
  background-color: #5cb85c;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  height: 10px;
  border: 1px solid #a3a3a3;
  background-color: #fff;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: none;
  background-color: #5cb85c;
  cursor: pointer;
}

input[type=range]::-ms-track {
  height: 10px;
  border: 1px solid #a3a3a3;
  background-color: #fff;
  color: transparent;
}

input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: none;
  background-color: #5cb85c;
}

input[type=range]::-ms-fill-lower {
  background-color: transparent;
}

textarea {
  resize: vertical;
}

html, body {
  height: 100%;
}

/********* Public *********/
/*
%display-flex {
  //display: inline-block; !*non-flexbox browsers*!
  @include display-flex;
}
%grid-min-width {
  min-width: 320px; //800
}
%grid-max-width {
  max-width: 1000px;
}
*/
.u-fs, .u-mid, .f-wf {
  width: 100%;
}

@font-face {
  font-family: "iconfont";
  src: url("../../../fonts/iconfont/iconfont.eot?t=1475132571");
  /* IE9*/
  src: url("../../../fonts/iconfont/iconfont.eot?t=1475132571#iefix") format("embedded-opentype"), url("../../../fonts/iconfont/iconfont.woff?t=1475132571") format("woff"), url("../../../fonts/iconfont/iconfont.ttf?t=1475132571") format("truetype"), url("../../../fonts/iconfont/iconfont.svg?t=1475132571#iconfont") format("svg");
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuhuaqi:before {
  content: "\e602";
}

.icon-cnkuajing:before {
  content: "\e601";
}

.icon-8888888:before {
  content: "\e605";
}

.icon-xiangmu:before {
  content: "\e606";
}

.icon-youjiantou:before {
  content: "\e61a";
}

.icon-weibiaoti1:before {
  content: "\e603";
}

.icon-cloud:before {
  content: "\e609";
}

.icon-yuan:before {
  content: "\e62a";
}

.icon-xianshiqi:before {
  content: "\e60a";
}

.icon-shuangjiantou:before {
  content: "\e6a3";
}

.icon-huiyuan:before {
  content: "\e608";
}

.icon-peixun:before {
  content: "\e607";
}

.icon-zhengque:before {
  content: "\e600";
}

.icon-baobiao:before {
  content: "\e60b";
}

.icon-icon-copy:before {
  content: "\e604";
}

.icon-yoaliucheng:before {
  content: "\e60c";
}

/************************** Grid **************************/
.g-doc {
  min-height: 100%;
}

.g-wrap {
  padding-bottom: 138px;
}

.g-bd {
  padding-top: 60px;
}
@media (min-width: 768px) {
  .g-bd {
    padding-top: 76px;
  }
}
.g-bd > .container > .row > [class|=col] {
  position: static;
}
@media (max-width: 767px) {
  .g-bd > .container > .row > [class|=col] {
    padding-right: 0;
    padding-left: 0;
  }
}

.g-ft {
  margin-top: -138px;
}

.g-mn {
  padding-right: 15px;
  padding-left: 15px;
}
.g-mn .inside {
  margin-left: -15px;
  margin-right: -15px;
}

/*columns*/
/************************** Modules **************************/
/********* Banner, Section *********/
.m-sec {
  position: relative;
}
.m-sec img {
  max-width: 100%;
}
.m-sec-tt {
  position: relative;
  z-index: 9;
  margin: 40px 0;
  text-align: center;
}
.m-sec-tt h2 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #2d2d2d;
}
.m-sec-tt h2:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  content: " ";
  background-color: #dfdfdf;
}
.m-sec-tt h2 span {
  color: #ce3d3a;
}
.m-sec-tt p {
  font-size: 15px;
  color: #a3a3a3;
}
@media (min-width: 768px) {
  .m-sec-tt {
    margin: 60px 0;
  }
  .m-sec-tt h2 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 44px;
  }
  .m-sec-tt p {
    font-size: 17px;
  }
  .m-sec-tt p span {
    display: block;
  }
}
.m-sec-sr {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.m-sec-sr,
.m-sec-sr .item {
  position: absolute;
}

/********* Tab *********/
.m-tab-opt {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;
}
.m-tab-opt li {
  display: inline-block;
  margin: 0 15px 15px;
}
.m-tab-opt li a {
  padding: 4px 8px;
  font-size: 20px;
  color: #555555;
  border-radius: 3px;
}
.m-tab-opt li a:hover, .m-tab-opt li.active a {
  background-color: #ce3d3a;
  color: #fff;
}
.m-tab-opt.rectangle a {
  background-color: #dfdfdf;
  border-left: 1px solid #dfdfdf;
}
.m-tab-opt.rectangle li {
  margin-right: 0;
  margin-left: 0;
}
.m-tab-opt.rectangle li a {
  padding: 8px 30px;
  font-size: 18px;
  border-radius: 0;
}
.m-tab-opt.rectangle li:first-child a {
  border-left: none;
}
.m-tab-cnt .item {
  /*container*/
  display: none;
  padding: 15px 0;
}
.m-tab-cnt .item.active {
  display: block;
}

/********* List *********/
.m-lst .item {
  padding: 30px 10px;
  border-bottom: 2px solid #dfdfdf;
}
.m-lst .item:first-child {
  border-top: 2px solid #dfdfdf;
}
.m-lst .item:after {
  display: block;
  content: '';
  clear: both;
}
.m-lst .item-vi {
  /*view*/
  float: left;
  width: 100px;
}
@media (min-width: 768px) {
  .m-lst .item-vi {
    width: 21%;
  }
}
.m-lst .item-vi > .vi-img {
  display: block;
  width: 100%;
}
.m-lst .item-vi > .vi-img:after {
  display: block;
  content: '';
  height: 0;
  padding-top: 100%;
}
.m-lst .item-ct {
  margin-left: 110px;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .m-lst .item-ct {
    margin-left: 22%;
  }
}
.m-lst .item-ct > .ct-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .m-lst .item-ct > .ct-title {
    margin-bottom: 30px;
    font-size: 22px;
  }
}
.m-lst .item-ct > .ct-title > a {
  color: #555555;
}
.m-lst .item-ct > .ct-container .unit {
  position: relative;
  min-height: 20px;
  margin-bottom: 6px;
  padding-left: 90px;
  font-size: 14px;
  line-height: 20px;
  color: #a3a3a3;
}
.m-lst .item-ct > .ct-container .unit > span {
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #2d2d2d;
}
@media (min-width: 768px) {
  .m-lst .item-ct > .ct-container .unit {
    min-height: 22px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 22px;
  }
  .m-lst .item-ct > .ct-container .unit > span {
    font-size: 16px;
  }
}
.m-lst .item-ct > .ct-container > .special > .unit {
  padding-left: 60px;
}
@media (min-width: 768px) {
  .m-lst .item-ct > .ct-container {
    position: relative;
  }
  .m-lst .item-ct > .ct-container > .special {
    position: absolute;
    right: 0;
    bottom: -10px;
  }
}
.m-lst .none {
  min-height: 300px;
  border-top: 2px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
  font-size: 20px;
}

/********* Field Horizontal *********/
.m-fd {
  /*field*/
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
}
.m-fd li {
  position: relative;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 120px;
  min-height: 32.85714288px;
}
.m-fd li:first-child {
  margin-top: 0;
}
.m-fd li label {
  position: absolute;
  left: 0;
  width: 110px;
  font-weight: normal;
  text-align: right;
}
.m-fd li.m-fd-tt {
  margin-bottom: 10px;
  padding-left: 0;
  font-size: 18px;
}
.m-fd li.m-fd-tt.ws {
  /*WideScreen*/
  padding-left: 10%;
}

/********* Description Lists *********/
.m-dl {
  margin-bottom: 0;
  padding: 20px;
}
.m-dl > dt {
  text-align: center;
}
.m-dl > dt img {
  max-width: 100%;
}
.m-dl > dd {
  margin-bottom: 20px;
}
.m-dl > dd.last {
  margin-bottom: 0;
}
.m-dl > dd p {
  margin-top: 10px;
  margin-bottom: 0;
  text-indent: 28px;
}
@media (min-width: 568px) {
  .m-dl:after {
    display: block;
    content: '';
    clear: both;
  }
  .m-dl > dt {
    position: relative;
    float: left;
    width: 30%;
    padding-top: 40%;
  }
  .m-dl > dt img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .m-dl > dd {
    margin-left: 30%;
    padding-left: 20px;
  }
  .m-dl > dd h4 {
    margin-top: 0;
  }
  .m-dl.right > dt {
    float: right;
  }
  .m-dl.right > dd {
    margin-right: 30%;
    margin-left: 0;
    padding-right: 20px;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .m-dl > dt {
    width: 24%;
    padding-top: 30.20487804878049%;
  }
  .m-dl > dd {
    margin-left: 24%;
  }
  .m-dl.right > dd {
    margin-right: 24%;
    margin-left: 0;
  }
}

.m-dls dl {
  margin-bottom: 45px;
}
.m-dls dl dt {
  margin-bottom: 10px;
}
.m-dls.left {
  text-align: left;
}
.m-dls.right {
  text-align: right;
}
.m-dls.indent dl dt, .m-dls.indent dl dd {
  position: relative;
  padding-left: 10%;
}
.m-dls.indent dl dt .to-left, .m-dls.indent dl dd .to-left {
  position: absolute;
  left: 0;
  width: 10%;
  text-align: center;
  line-height: 1.42857143;
}
.m-dls.indent dl dt {
  font-weight: normal;
  font-size: 19px;
}
.m-dls.indent dl dt .iconfont {
  font-size: inherit;
  line-height: 1.42857143;
}
.m-dls.indent dl dd {
  font-size: 15px;
}
@media (min-width: 768px) {
  .m-dls.indent dl dt {
    font-size: 22px;
  }
}

/********* Side by Side *********/
.m-sbs {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 0;
  list-style: none;
  text-align: center;
}
.m-sbs li {
  display: inline-block;
  margin: 15px;
  font-size: 15px;
  vertical-align: top;
}
.m-sbs li > a:first-child {
  display: block;
}
.m-sbs li > a:first-child img {
  max-width: 100%;
}
.m-sbs li > strong, .m-sbs li > p {
  margin-top: 20px;
  font-size: 12px;
}
.m-sbs li > strong {
  display: block;
  font-size: 17px;
  color: #2d2d2d;
}
.m-sbs li > p {
  text-align: left;
}
.m-sbs-two li, .m-sbs-three li, .m-sbs-four li, .m-sbs-five li {
  width: 88%;
}
@media (min-width: 768px) {
  .m-sbs-two li, .m-sbs-three li, .m-sbs-four li, .m-sbs-five li {
    max-width: 40%;
  }
}
@media (min-width: 480px) {
  .m-sbs-two li {
    max-width: 36%;
  }
}
@media (min-width: 480px) {
  .m-sbs-three li {
    max-width: 36%;
  }
}
@media (min-width: 568px) {
  .m-sbs-three li {
    max-width: 27%;
  }
}
@media (min-width: 480px) {
  .m-sbs-four li {
    max-width: 40%;
  }
}
@media (min-width: 992px) {
  .m-sbs-four li {
    max-width: 21%;
  }
}
.m-sbs-four.sbs-small li {
  max-width: 36%;
}
@media (min-width: 568px) {
  .m-sbs-four.sbs-small li {
    max-width: 19%;
  }
}
.m-sbs-five li {
  width: 40%;
}
@media (min-width: 480px) {
  .m-sbs-five li {
    max-width: 26%;
  }
}
@media (min-width: 568px) {
  .m-sbs-five li {
    max-width: 19%;
  }
}
@media (min-width: 992px) {
  .m-sbs-five li {
    max-width: 14%;
  }
}
.m-sbs-box li {
  padding: 10px;
  border: 1px solid #dfdfdf;
}
.m-sbs-box li > a:first-child {
  margin: -11px -11px 0;
}
.m-sbs-simple li > strong {
  font-weight: normal;
}
.m-sbs.select-card, .m-sbs.select-bank, .m-sbs.show-card {
  text-align: left;
}
.m-sbs.select-card {
  padding-top: 1px;
  padding-left: 1px;
}
.m-sbs.select-card li {
  margin: -1px 0 0 -1px;
  border: 1px solid #dfdfdf;
}
.m-sbs.select-card li > label {
  display: block;
  margin-bottom: 0;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}
.m-sbs.select-card li > label > input {
  position: absolute;
  left: -1000px;
}
.m-sbs.select-card li > label.checked, .m-sbs.select-card li > label:hover {
  background-color: #2b90d9;
  color: #fff;
}
.m-sbs.select-card li > label.disabled {
  cursor: not-allowed;
}
.m-sbs.select-card li > label.disabled, .m-sbs.select-card li > label.disabled:hover {
  background-color: #f4f4f4;
  color: #a3a3a3;
}
.m-sbs.select-bank li {
  margin-right: 5px;
  margin-left: 5px;
}
.m-sbs.select-bank li > label {
  cursor: pointer;
}
.m-sbs.select-bank li > label > input {
  vertical-align: middle;
}
.m-sbs.select-bank li > label .u-ico {
  border: 1px solid #dfdfdf;
}
.m-sbs.select-bank li > label.checked .u-ico, .m-sbs.select-bank li > label:hover .u-ico {
  border-color: #a3a3a3;
}
.m-sbs.select-bank li > label.disabled {
  cursor: not-allowed;
}
.m-sbs.select-bank li > label.disabled .u-ico, .m-sbs.select-bank li > label.disabled:hover .u-ico {
  border-color: #dfdfdf;
}
.m-sbs.rectangle li {
  min-width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 10px;
  border: 1px dashed #dfdfdf;
}
.m-sbs.rectangle li.active {
  border-style: solid;
  color: #2b90d9;
}
.m-sbs.show-card {
  border-top: 1px solid #dfdfdf;
}
.m-sbs.show-card li {
  position: relative;
  width: 96%;
  margin: 2%;
}
@media (min-width: 568px) {
  .m-sbs.show-card li {
    width: 45.333333%;
  }
}
@media (min-width: 768px) {
  .m-sbs.show-card li {
    width: 29.333333%;
  }
}
.m-sbs.show-card li .u-cnn > i {
  border-width: 34px;
  border-top-color: #ce3d3a;
  border-right-color: #ce3d3a;
}
.m-sbs.show-card li .u-cnn > span {
  display: block;
  padding-top: 10px;
  padding-right: 4px;
  font-size: 18px;
}
.m-sbs.show-card li .card-title {
  margin-top: 10px;
}
.m-sbs.show-card li .card-body {
  padding: 10px 0;
  font-size: 14px;
}
.m-sbs.show-card li .card-body > p {
  position: relative;
  margin-bottom: 6px;
  padding-top: 4px;
  padding-left: 62px;
  font-size: 12px;
}
.m-sbs.show-card li .card-body > p.long-text {
  min-height: 80px;
}
.m-sbs.show-card li .card-body > p.last {
  padding-left: 76px;
}
.m-sbs.show-card li .card-body > p > b {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: normal;
  font-size: 15px;
}
.m-sbs.show-card li .card-body > p > span {
  display: inline-block;
}
.m-sbs.show-card li .card-foot {
  margin-right: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  padding: 10px;
  border-top: 1px solid #dfdfdf;
}
.m-sbs.show-card li .card-foot > a {
  display: block;
  margin: -10px;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  background-color: #f4f4f4;
  color: #2d2d2d;
}

.select-other {
  display: none;
}

/********* Charts *********/
.charts-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.charts-list li {
  margin: 10px 0;
}
.charts-container {
  display: inline-block;
  position: relative;
  max-width: 88%;
}
.charts-avatar {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.charts-main {
  margin-left: 64px;
}
.charts-from {
  margin-bottom: 4px;
  font-size: 12px;
  color: #2d2d2d;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.charts-from > span {
  margin-right: 10px;
}
.charts-content {
  position: relative;
  background-color: #f4f4f4;
  border-radius: 5px;
}
.charts-corner {
  position: absolute;
  top: 10px;
  left: -12px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent #f4f4f4 transparent transparent;
}
.charts-content p {
  margin-bottom: 0;
  padding: 10px;
  font-size: 13px;
}
.charts-list li.right {
  text-align: right;
}
.charts-list li.right .charts-avatar {
  right: 0;
}
.charts-list li.right .charts-main {
  margin-right: 64px;
  margin-left: 0;
}
.charts-list li.right .charts-from > span {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.charts-list li.right .charts-from:after {
  display: block;
  clear: both;
  content: ' ';
}
.charts-list li.right .charts-content {
  background-color: #ce3d3a;
  color: #fff;
}
.charts-list li.right .charts-corner {
  right: -12px;
  left: auto;
  border-color: transparent transparent transparent #ce3d3a;
}

/************************** Units **************************/
/********* Icon *********/
.u-ico {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
}
.u-ico-play {
  border-width: 12px 0 12px 24px;
  border-style: solid;
  border-color: transparent #fff;
}
.u-ico-pause {
  width: 24px;
  height: 24px;
  border-width: 0 7px;
  border-style: solid;
  border-color: #fff;
}
.u-ico-plus {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIzOSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiLz48c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjxzdG9wIG9mZnNldD0iNjMlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIzOSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiLz48c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjxzdG9wIG9mZnNldD0iNjMlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 39%, #dfdfdf 40%, #dfdfdf 62%, rgba(0, 0, 0, 0) 63%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 39%, #dfdfdf 40%, #dfdfdf 62%, rgba(0, 0, 0, 0) 63%);
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0) 39%, #dfdfdf 40%, #dfdfdf 62%, rgba(0, 0, 0, 0) 63%), -o-linear-gradient(0deg, rgba(0, 0, 0, 0) 39%, #dfdfdf 40%, #dfdfdf 62%, rgba(0, 0, 0, 0) 63%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 39%, #dfdfdf 40%, #dfdfdf 62%, rgba(0, 0, 0, 0) 63%), linear-gradient(90deg, rgba(0, 0, 0, 0) 39%, #dfdfdf 40%, #dfdfdf 62%, rgba(0, 0, 0, 0) 63%);
  background-position: center;
  background-repeat: no-repeat;
}

.u-ico-sprite, .u-ico-bank-gongshang, .u-ico-bank-guangda, .u-ico-bank-jianshe, .u-ico-bank-jiaotong, .u-ico-bank-minsheng, .u-ico-bank-nongye, .u-ico-bank-pingan, .u-ico-bank-pufa, .u-ico-bank-youzheng, .u-ico-bank-zhaoshang, .u-ico-bank-zhongguo, .u-ico-bank-zhongxin, .u-ico-qq, .u-ico-weibo, .u-ico-weixin {
  background-image: url('../../../images/u-ico-sbaef102fba.png');
  background-repeat: no-repeat;
}

.u-ico-bank-gongshang {
  background-position: 0 0;
  height: 36px;
  width: 200px;
}

.u-ico-bank-guangda {
  background-position: 0 -61px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-jianshe {
  background-position: 0 -122px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-jiaotong {
  background-position: 0 -183px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-minsheng {
  background-position: 0 -244px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-nongye {
  background-position: 0 -305px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-pingan {
  background-position: 0 -366px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-pufa {
  background-position: 0 -427px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-youzheng {
  background-position: 0 -488px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-zhaoshang {
  background-position: 0 -549px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-zhongguo {
  background-position: 0 -610px;
  height: 36px;
  width: 200px;
}

.u-ico-bank-zhongxin {
  background-position: 0 -671px;
  height: 36px;
  width: 200px;
}

.u-ico-qq {
  background-position: -86px -732px;
  height: 27px;
  width: 27px;
}

.u-ico-weibo {
  background-position: -86px -784px;
  height: 27px;
  width: 27px;
}

.u-ico-weixin {
  background-position: -86px -836px;
  height: 27px;
  width: 27px;
}

/********* Tips *********/
.u-tips {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
  color: #a3a3a3;
}

/********* Flow Step *********/
.u-fs {
  display: table;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
  table-layout: fixed;
  list-style: none;
}
.u-fs li {
  display: table-cell;
}
.u-fs li a {
  color: #a3a3a3;
}
.u-fs li a p {
  position: relative;
  height: 28px;
  margin: 8px 0;
  overflow: hidden;
}
.u-fs li a p:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  content: '';
  background-color: #a3a3a3;
}
.u-fs li a p .iconfont {
  position: relative;
  z-index: 9;
  font-size: 28px;
  vertical-align: inherit;
}
.u-fs li a p .iconfont.last {
  display: none;
}
.u-fs li a span {
  font-size: 17px;
}
.u-fs li:first-child p:before {
  left: 50%;
}
.u-fs li.last p:before {
  left: -50%;
}
.u-fs li.suc .status {
  color: #5cb85c;
}
.u-fs li.ing .status {
  color: #f0ad4e;
}
.u-fs li.cur a {
  color: #ce3d3a;
}
.u-fs li.cur a .iconfont:first-child {
  display: none;
}
.u-fs li.cur a .iconfont.last {
  display: block;
}

.u-fs2.m-sbs {
  margin: 20px 0 10px;
}
.u-fs2.m-sbs li {
  margin: 1px 0 0 -20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 40px;
}
.u-fs2.m-sbs li a {
  display: block;
  height: 40px;
  padding-left: 40px;
  background-color: #f4f4f4;
  color: #2d2d2d;
}
.u-fs2.m-sbs li a .cor {
  position: relative;
  height: 0;
  margin-right: -20px;
  font-size: 0;
  vertical-align: top;
  border: 20px solid transparent;
  border-right-width: 0;
}
.u-fs2.m-sbs li a .cor1 {
  z-index: 9;
  margin-right: -19px;
  margin-left: 20px;
  border-left-color: #f4f4f4;
}
.u-fs2.m-sbs li a .cor2 {
  border-left-color: #fff;
}
.u-fs2.m-sbs li a.active {
  background-color: #ce3d3a;
  color: #fff;
}
.u-fs2.m-sbs li a.active .cor1 {
  border-left-color: #ce3d3a;
}
.u-fs2.m-sbs li a.success {
  background-color: #5cb85c;
  color: #fff;
}
.u-fs2.m-sbs li a.success .cor1 {
  border-left-color: #5cb85c;
}
.u-fs2.m-sbs li a.disabled {
  color: #a3a3a3;
  cursor: not-allowed;
}

/********* Others *********/
/********* Hs *********/
.u-h1 {
  font-size: 54px;
  letter-spacing: 10px;
}
.u-h1:not(:last-child) {
  margin-bottom: 16px;
}

.u-h2 {
  font-size: 38px;
  letter-spacing: 6px;
}
.u-h2:not(:last-child) {
  margin-bottom: 14px;
}

.u-h3 {
  font-size: 28px;
  letter-spacing: 3px;
}
.u-h3:not(:last-child) {
  margin-bottom: 12px;
}

.u-h4 {
  font-size: 22px;
  letter-spacing: 2px;
}
.u-h4:not(:last-child) {
  margin-bottom: 10px;
}

.u-h5 {
  font-size: 18px;
  letter-spacing: 1px;
}
.u-h5:not(:last-child) {
  margin-bottom: 8px;
}

.u-h6 {
  font-size: 15px;
}
.u-h6:not(:last-child) {
  margin-bottom: 6px;
}

/********* Radius Corner *********/
.u-rc-xs,
.u-rc-sm,
.u-rc-md,
.u-rc-lg {
  overflow: hidden;
}

.u-rc-xs {
  border-radius: 3px;
}

.u-rc-sm {
  border-radius: 5px;
}

.u-rc-md {
  border-radius: 8px;
}

.u-rc-lg {
  border-radius: 12px;
}

/********* Middle *********/
.u-mid {
  display: table;
  height: 100%;
}
.u-mid-ct {
  /*content*/
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/********* Shadow *********/
.u-shadow {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/********* Corner *********/
.u-corner {
  border-style: solid;
  border-color: transparent;
}

/********* Amount *********/
.u-amount {
  display: inline-block;
  margin-right: 15px;
}
.u-amount-btn {
  position: relative;
}
.u-amount-btn:before {
  content: '.';
  font-size: 0;
}
.u-amount-inc, .u-amount-dec {
  position: absolute;
}
.u-amount-inc:before, .u-amount-dec:before {
  display: block;
  text-align: center;
  width: 10px;
}
.u-amount-inc {
  top: -10px;
}
.u-amount-inc:before {
  content: '+';
}
.u-amount-dec {
  bottom: -10px;
}
.u-amount-dec:before {
  content: '-';
}

/********* Corner note *********/
.u-cnn {
  z-index: 9;
  color: #fff;
}
.u-cnn, .u-cnn > i {
  position: absolute;
  top: 0;
  right: 0;
}
.u-cnn > i {
  z-index: -1;
  border-style: solid;
  border-color: transparent;
}

/********* Platoon *********/
.u-plat {
  padding: 15px;
  border-bottom: 1px solid #a3a3a3;
}
.u-plat:first-child {
  border-top: 1px solid #a3a3a3;
}

/********* News *********/
.u-nws img {
  max-width: 100%;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .u-nws p {
    font-size: 15px;
    text-indent: 28px;
    line-height: 2.14285715;
  }
}

/************************** Function **************************/
.f-fl {
  float: left;
}

.f-fr {
  float: right;
}

.f-wh {
  width: 50%;
}

.f-db {
  display: block;
}

.f-ib {
  display: inline-block;
}

.f-dn {
  display: none;
}

.f-m0 {
  margin: 0 !important;
}

.f-p0 {
  padding: 0 !important;
}

.f-b0 {
  border: none !important;
}

.f-tal {
  text-align: left !important;
}

.f-tac {
  text-align: center !important;
}

.f-tar {
  text-align: right !important;
}

.f-tul {
  text-decoration: underline;
}

.f-tba {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.f-tka {
  white-space: nowrap;
  word-wrap: normal;
  word-break: keep-all;
}

.f-toe {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.f-es-xs {
  height: 5px;
}

.f-es-sm {
  height: 15px;
}

.f-es-md {
  height: 30px;
}

.f-es-lg {
  height: 45px;
}

.f-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.f-cf:after {
  display: block;
  visibility: hidden;
  content: '';
  clear: both;
  height: 0;
}

/************************** Skin **************************/
/********* Color *********/
/*font color*/
.s-fc-white {
  color: #fff;
}

a.s-fc-white:hover {
  color: #f4f4f4;
}

.s-fc-black {
  color: #2d2d2d;
}

a.s-fc-black:hover {
  color: #202020;
}

.s-fc-gray {
  color: #a3a3a3;
}

a.s-fc-gray:hover {
  color: #dfdfdf;
}

.s-fc-red {
  color: #ce3d3a;
}

a.s-fc-red:hover {
  color: #ce3d3a;
}

.s-fc-green {
  color: #5cb85c;
}

a.s-fc-green:hover {
  color: #5cb85c;
}

.s-fc-yellow {
  color: #f0ad4e;
}

a.s-fc-yellow:hover {
  color: #f0ad4e;
}

.s-fc-blue {
  color: #2b90d9;
}

a.s-fc-blue:hover {
  color: #2b90d9;
}

.s-fc-blue-light {
  color: #5accec;
}

a.s-fc-blue-light:hover {
  color: #5accec;
}

/*background color*/
.s-bgc-white {
  background-color: #fff;
}

.s-bgc-black {
  background-color: #2d2d2d;
}

.s-bgc-gray {
  background-color: #dfdfdf;
}

.s-bgc-gray-light {
  background-color: #f4f4f4;
}

.s-bgc-red {
  background-color: #ce3d3a;
}

.s-bgc-green {
  background-color: #5cb85c;
}

.s-bgc-yellow {
  background-color: #f0ad4e;
}

.s-bgc-blue {
  background-color: #2b90d9;
}

.s-bgc-blue-light {
  background-color: #5accec;
}

/********* Background Size *********/
.s-bg-cov, .s-bg-con {
  background: no-repeat center;
  -ms-behavior: url(../assets/css/backgroundsize.min.htc);
  behavior: url(../assets/css/backgroundsize.min.htc);
}

.s-bg-cov {
  -webkit-background-size: cover;
          background-size: cover;
}

.s-bg-con {
  -webkit-background-size: contain;
          background-size: contain;
}

/************************** custom **************************/
.zy label {
  font-weight: normal;
}
.zy .navbar {
  border: none;
  border-top: 8px solid #ce3d3a;
  border-bottom: 2px solid #c5c5c5;
  background-color: #fff;
  border-radius: 0;
}
.zy .navbar.navbar-fixed-top, .zy .navbar.navbar-fixed-bottom {
  z-index: 90;
}
.zy .navbar-toggle {
  border: 1px solid #555555;
}
.zy .navbar-toggle .icon-bar {
  background-color: #2d2d2d;
}
.zy .navbar-toggle:hover {
  background-color: #dfdfdf;
}
.zy .nav.navbar-nav > li {
  margin-left: 1px;
}
.zy .nav.navbar-nav > li:first-child {
  margin-left: 0;
}
.zy .nav.navbar-nav > li a, .zy .nav.navbar-nav > li a:focus {
  color: #555555;
}
.zy .nav.navbar-nav > li a:hover {
  color: #ce3d3a;
}
.zy .nav.navbar-nav > li > a {
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
}
@media (min-width: 768px) {
  .zy .nav.navbar-nav > li > a {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .zy .nav.navbar-nav > li > a {
    font-size: 16px;
  }
}
.zy .nav.navbar-nav > li:hover > a, .zy .nav.navbar-nav > li.active > a {
  border-color: #ce3d3a;
}
.zy .nav.navbar-nav.navbar-crumb {
  position: absolute;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.zy .nav.navbar-nav.navbar-crumb > li {
  float: left;
  border-left: 1px solid #dfdfdf;
}
.zy .nav.navbar-nav.navbar-crumb > li:first-child {
  border-left: none;
}
.zy .nav.navbar-nav.navbar-crumb > li > a, .zy .nav.navbar-nav.navbar-crumb > li > span {
  padding: 15px;
  font-size: 14px;
}
.zy .nav.navbar-nav.navbar-crumb > li > span {
  display: block;
}
.zy .nav.navbar-nav.navbar-crumb > li .iconfont {
  font-size: 20px;
}
.zy-header .navbar-brand {
  width: 105px;
  padding: 10px;
  overflow: hidden;
}
@media (min-width: 360px) {
  .zy-header .navbar-brand {
    width: auto;
  }
}
@media (min-width: 768px) {
  .zy-header .navbar-brand {
    width: 155px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .zy-header .navbar-brand {
    width: auto;
  }
}
.zy-header .navbar-brand img {
  height: 100%;
}
.zy-header .navbar-collapse {
  border-color: #c5c5c5;
}
.zy-header .navbar-collapse .btn {
  margin: 6px 0;
}
@media (min-width: 768px) {
  .zy-header .navbar-collapse {
    padding-top: 16px;
  }
  .zy-header .navbar-collapse .btn {
    margin-left: 15px;
  }
}
.zy-header.navbar-fixed-top .navbar-collapse, .zy-header.navbar-fixed-bottom .navbar-collapse {
  max-height: 480px;
}
.zy-header .dropdown-menu {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (min-width: 768px) {
  .zy-header .dropdown-menu {
    margin-right: -80px;
  }
}
.zy .dropdown .dropdown-menu {
  min-width: 280px;
  padding: 5px;
  overflow: auto;
  border-radius: 0;
}
@media (min-width: 768px) {
  .zy .dropdown .dropdown-menu {
    overflow: visible;
  }
  .zy .dropdown .dropdown-menu .menu-full-bg {
    position: absolute;
    top: 0;
    right: -1000px;
    bottom: 0;
    left: -2000px;
    z-index: -1;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
}
.zy .dropdown .dropdown-menu ul {
  padding-left: 0;
  list-style: none;
}
.zy .dropdown .dropdown-menu p {
  margin: 10px 0 0;
}
.zy .dropdown .dropdown-menu p:first-child {
  margin-top: 0;
}
.zy .dropdown .dropdown-menu .u-mid-ct {
  padding: 10px;
  vertical-align: top;
}
.zy .dropdown .dropdown-menu .u-mid-ct h5 {
  margin-right: -10px;
  margin-left: -10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a3a3a3;
}
.zy .dropdown .dropdown-menu .u-mid-ct a {
  display: block;
}
.zy .dropdown .dropdown-menu .u-mid-ct a .iconfont {
  display: block;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 30px;
}
.zy .dropdown.open > a > .caret {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.zy .btn:focus, .zy .btn.focus {
  outline: none;
}
.zy .form-control, .zy .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.zy .form-group .text-danger {
  display: none;
}
.zy .form-group.has-error .text-danger {
  display: block;
  min-height: inherit;
  padding-bottom: 0;
  line-height: 1;
}
.zy .form-group.has-error .input-group-btn .btn {
  border-color: #ce3d3a;
}
.zy .form-group .input-group-btn-options {
  position: absolute;
  left: -98px;
  z-index: 9;
  padding: 7px 0;
  font-size: 14px;
  line-height: 20.00000002px;
}
.zy .form-group .input-group-btn-options label {
  margin-bottom: 0;
  font-weight: normal;
}
.zy .form-group .input-group-btn-options input {
  margin-top: 0;
  margin-right: 2px;
}
.zy .form-group .input-group-btn .get-codes {
  width: 102px;
}
.zy .panel {
  margin-bottom: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.zy .panel-box {
  border: 1px solid #dfdfdf;
}
.zy .panel-heading {
  border-bottom: 1px solid #dfdfdf;
}
.zy .panel-body {
  padding: 30px;
}
.zy .tooltip-inner {
  padding: 8px 13px;
  border-radius: 0;
}
.zy hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .zy hr {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.zy .datetimepicker {
  margin-top: 0;
  padding: 6px 12px;
  border-radius: 3px;
}

.zy-file-btn {
  margin-bottom: 0;
}
.zy-file-btn input {
  display: none;
}
@media (min-width: 992px) {
  .zy-img-upload {
    text-align: center;
  }
}
.zy-img-upload label {
  margin-bottom: 0;
  font-weight: normal;
}
.zy-img-upload label input {
  display: none;
}
.zy-img-upload label img {
  width: 100%;
  max-width: 160px;
  cursor: pointer;
}
.zy-img-upload label a {
  display: block;
  padding: 10px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .zy-img-upload label a {
    font-size: 17px;
  }
}
.zy-full-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.zy-banner {
  display: block;
  height: 200px;
}
.zy-pic-zoom {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 220px;
}
.zy-pic-zoom .zoom-img {
  padding-top: 60%;
  background: no-repeat center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  -webkit-transition: background-size .3s linear;
       -o-transition: background-size .3s linear;
          transition: background-size .3s linear;
}
.zy-pic-zoom .zoom-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .3s linear;
       -o-transition: opacity .3s linear;
          transition: opacity .3s linear;
}
.zy-pic-zoom:hover .zoom-img {
  -webkit-background-size: 120% auto;
          background-size: 120% auto;
}
.zy-pic-zoom:hover .zoom-cover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.zy-service {
  display: inline-block;
  color: #555555;
}
.zy-service .iconfont {
  display: inline-block;
  margin-bottom: 10px;
  padding: 14%;
  font-size: 40px;
  color: #fff;
  border-radius: 50px;
  -webkit-transition: background-color .2s linear;
       -o-transition: background-color .2s linear;
          transition: background-color .2s linear;
}
.zy-service.service1 .iconfont {
  background-color: #ce3d3a;
}
.zy-service.service2 .iconfont {
  background-color: #5cb85c;
}
.zy-service.service3 .iconfont {
  background-color: #2b90d9;
}
.zy-service.service4 .iconfont {
  background-color: #f0ad4e;
}
.zy-service:hover .iconfont {
  background-color: #dfdfdf;
}
.zy-service-dialog {
  width: 660px !important;
  max-width: 88%;
  max-height: 80%;
}
.zy-app {
  position: relative;
  display: inline-block;
  padding: 8% 13%;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  color: #a3a3a3;
}
.zy-app .iconfont {
  font-size: 60px;
}
.zy-app p {
  margin-top: 10px;
  margin-bottom: 0;
}
.zy-app .qr-code {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-background-size: 88% auto;
          background-size: 88% auto;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: background-size .15s linear, opacity .3s linear;
       -o-transition: background-size .15s linear, opacity .3s linear;
          transition: background-size .15s linear, opacity .3s linear;
}
.zy-app .qr-code.code-ard {
  background-image: url("../../../images/QR-code-Android.png");
}
.zy-app .qr-code.code-ios {
  background-image: url("../../../images/QR-code-iOS.png");
}
.zy-app:hover .qr-code {
  -webkit-background-size: 94% auto;
          background-size: 94% auto;
  opacity: 1;
  filter: alpha(opacity=100);
}
.zy-map {
  margin: 15px 15px 10px;
  padding-top: 68%;
}
.zy-master li {
  width: 224px;
}
.zy-screen {
  padding-top: 8%;
  padding-bottom: 8%;
}
.zy-screen .carousel-inner .item {
  min-height: 220px;
}
@media (min-width: 768px) {
  .zy-screen.full, .zy-screen-full,
  .zy-screen .carousel-inner .item {
    height: 260px;
  }
}
@media (min-width: 992px) {
  .zy-screen.full, .zy-screen-full,
  .zy-screen .carousel-inner .item {
    height: 320px;
  }
}
@media (min-width: 1366px) {
  .zy-screen.full, .zy-screen-full,
  .zy-screen .carousel-inner .item {
    height: 400px;
  }
}
.zy-screen.full, .zy-screen.full.zy-carousel > .zy-screen-full {
  padding-top: 0;
  padding-bottom: 0;
}
.zy-screen-full {
  padding-top: 8%;
  padding-bottom: 8%;
}
@media (min-width: 768px) {
  .zy-screen-full {
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.zy-plate-title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.zy-plate-title:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  content: ' ';
  background-color: #dfdfdf;
}
.zy-footer {
  padding: 10px;
  font-size: 15px;
  background-color: #2d2d2d;
}
.zy-footer .ft-container {
  overflow: hidden;
}
.zy-footer .ft-container.ft-coop {
  height: 46px;
}
.zy-footer .ft-container.ft-links {
  height: 41px;
}
.zy-footer .ft-container.ft-copyright {
  height: 21px;
}
.zy-footer .ft-container > .ft-content {
  overflow: auto;
}
.zy-footer .m-sbs {
  margin-bottom: 0;
}
.zy-footer .m-sbs li {
  margin: 10px;
}
.zy-footer .m-sbs li,
.zy-footer .m-sbs li a {
  color: #a3a3a3;
}
.zy-footer .m-sbs li img,
.zy-footer .m-sbs li a img {
  max-width: 60px;
  -webkit-transition: opacity .2s linear;
       -o-transition: opacity .2s linear;
          transition: opacity .2s linear;
}
.zy-footer .m-sbs li a:hover {
  color: #dfdfdf;
}
.zy-footer .m-sbs li a:hover img {
  opacity: .8;
  filter: alpha(opacity=80);
}
.zy-footer .copyright {
  margin: 0 -10px -10px;
  padding: 10px;
  background-color: #202020;
  color: #555555;
}
.zy-success .iconfont {
  margin-right: 15px;
  font-size: 80px;
  color: #ce3d3a;
}
.zy-page {
  background-color: #f4f4f4;
}
.zy-page .page-top {
  min-height: 40px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.zy-page-menu .page-top {
  background-color: #2d2d2d;
}
.zy-page-menu .menu-main dl {
  padding: 20px;
}
.zy-page-menu .menu-main dl:last-child {
  margin-bottom: 0;
}
.zy-page-menu .menu-main dl dt {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  border-bottom: 5px solid #a3a3a3;
  color: #ce3d3a;
}
.zy-page-menu .menu-main dl dt:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40%;
  height: 5px;
  content: '';
  background-color: #ce3d3a;
}
.zy-page-menu .menu-main dl dd {
  border-bottom: 1px solid #dfdfdf;
}
.zy-page-menu .menu-main dl dd a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 16px;
  color: #555555;
}
.zy-page-menu .menu-main dl dd a .iconfont {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 12px;
}
.zy-page-menu .menu-main dl dd a.active, .zy-page-menu .menu-main dl dd a:hover {
  color: #ce3d3a;
}
.zy-page-content {
  background-color: #fff;
}
.zy-page-content .page-top {
  background-color: #ce3d3a;
}
.zy-page-content .content-main.padding {
  padding: 10px;
}
.zy-page-content .page-title {
  padding-top: 20px;
  padding-bottom: 10px;
}
.zy-page-content .page-title h2 {
  padding-top: 16px;
}
.zy-page-content .page-title h2 ins {
  width: 50%;
  border-top: 2px dashed #ce3d3a;
}
.zy-page-content .page-title h2 span {
  display: block;
  margin-top: -15px;
  padding: 0 20px;
  font-size: 28px;
}
.zy-page-content .page-title p {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #a3a3a3;
}
.zy-page-content .page-title p:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  content: ' ';
  background-color: #dfdfdf;
}
.zy-page-content .page-paragraph {
  margin: 15px 0;
}
.zy-page-content .page-paragraph p {
  margin: 10px 15px 0;
  text-indent: 32px;
  font-size: 16px;
  line-height: 1.8;
}
.zy-page-content .page-paragraph p:first-child {
  margin-top: 0;
}
.zy-page-content .page-graphics {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.zy-page-content .page-graphics img {
  max-width: 100%;
}
.zy-page-content .page-hang .hang-right {
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .zy-page-content .page-hang:after {
    display: block;
    content: '';
    clear: both;
  }
  .zy-page-content .page-hang .hang-right {
    float: right;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .zy-page:after {
    display: block;
    content: '';
    clear: both;
  }
  .zy-page, .zy-page-content {
    border-left: 1px solid #dfdfdf;
  }
  .zy-page .page-top {
    margin-left: -1px;
  }
  .zy-page-menu {
    float: left;
    width: 24%;
  }
  .zy-page-content {
    min-height: 500px;
    margin-left: 24%;
  }
}
@media (min-width: 992px) {
  .zy-page-menu {
    width: 20%;
  }
  .zy-page-content {
    margin-left: 20%;
  }
}
.zy-forum-title {
  position: relative;
}
.zy-forum-title > h4 {
  min-height: 20px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .zy-forum-title > h4 {
    margin-right: 220px;
  }
}
.zy-forum-title > p {
  padding-left: 10px;
}
@media (min-width: 768px) {
  .zy-forum-title > p {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.zy-forum-body > .item {
  border-width: 0 1px 4px;
  border-style: solid;
  border-color: #dfdfdf;
  background-color: #f4f4f4;
}
.zy-forum-body > .item:first-child {
  border-top-width: 4px;
}
@media (min-width: 768px) {
  .zy-forum-side, .zy-forum-content {
    float: left;
  }
}
.zy-forum-side {
  position: relative;
  padding: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .zy-forum-side {
    width: 20%;
  }
}
.zy-forum-side .u-cnn > i {
  border-width: 20px;
  border-top-color: #2b90d9;
  border-right-color: #2b90d9;
}
.zy-forum-side .u-cnn > span {
  display: block;
  padding-top: 5px;
  font-size: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.zy-forum-side .side-avatar img {
  width: 80%;
  max-width: 100px;
  padding: 5px;
  border: 1px solid #dfdfdf;
}
.zy-forum-side .side-name {
  font-size: 16px;
}
.zy-forum-side .side-members {
  text-align: left;
}
.zy-forum-side .side-members > strong {
  display: block;
  margin-bottom: 5px;
}
.zy-forum-side .side-members > span {
  display: inline-block;
}
.zy-forum-content {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
}
@media (min-width: 768px) {
  .zy-forum-content {
    width: 80%;
    border-top: none;
    border-left: 1px solid #dfdfdf;
  }
}
.zy-forum-content-main, .zy-forum-content-minor {
  padding: 10px;
}
.zy-forum-content-main {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
@media (min-width: 768px) {
  .zy-forum-content-main {
    min-height: 300px;
  }
}
.zy-forum-content-minor {
  position: relative;
  padding-bottom: 1px;
}
.zy-forum-content-minor.top {
  border-bottom: 2px solid #dfdfdf;
}
.zy-forum-content-minor.bottom {
  border-top: 2px solid #dfdfdf;
}
.zy-forum-content-minor > p.first > strong, .zy-forum-content-minor > p.first > img {
  display: block;
}
.zy-forum-content-minor > p.first > img {
  max-width: 50%;
}
@media (min-width: 768px) {
  .zy-forum-content-minor > p.last {
    position: absolute;
    right: 10px;
    bottom: -4px;
  }
}
.zy-forum-foot {
  padding: 10px;
}
.zy-forum-reply {
  min-height: 240px;
}
.zy-forum-charts {
  max-height: 500px;
  overflow: auto;
}
.zy-mall-filter {
  position: relative;
  height: 30px;
  padding-right: 30px;
  overflow: hidden;
}
.zy-mall-filter .more-filter {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.zy-mall-filter .more-filter .iconfont {
  font-size: 20px;
}
.zy-mall-filter .more-filter .iconfont.up {
  display: none;
}
.zy-mall-filter a.btn {
  margin: 0 10px 10px;
}
.zy-mall-filter.show {
  height: auto;
  margin-bottom: -10px;
}
.zy-mall-filter.show .more-filter {
  bottom: 15px;
}
.zy-mall-filter.show .more-filter .iconfont.down {
  display: none;
}
.zy-mall-filter.show .more-filter .iconfont.up {
  display: block;
}
.zy-detail {
  margin-right: -15px;
  margin-left: -15px;
}
.zy-detail .dt-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.zy-detail .info-base:after {
  display: block;
  clear: both;
  content: '';
}
.zy-detail .bs-gallery {
  text-align: center;
}
@media (min-width: 568px) {
  .zy-detail .bs-gallery {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .zy-detail .bs-gallery {
    float: left;
    width: 50%;
  }
}
.zy-detail .bs-gallery img {
  max-width: 100%;
}
.zy-detail .gal-thumb {
  height: 70px;
  margin: 10px 0;
  overflow: hidden;
  font-size: 0;
}
.zy-detail .gal-thumb .thumbnail {
  overflow: auto;
}
.zy-detail .gal-thumb .thumbnail > a {
  margin-left: 5px;
}
.zy-detail .gal-thumb .thumbnail > a:first-child {
  margin-left: 0;
}
.zy-detail .gal-thumb .thumbnail > a img {
  height: 70px;
}
.zy-detail .bs-property {
  margin-top: 20px;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .zy-detail .bs-property {
    margin-top: 0;
    margin-left: 50%;
  }
}
.zy-detail .bs-property .attr {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 90px;
  font-size: 16px;
}
.zy-detail .bs-property .attr:last-child {
  margin-right: 0;
}
.zy-detail .bs-property .attr > .key {
  position: absolute;
  left: 0;
}
.zy-detail .dt-price .attr {
  margin-bottom: 30px;
  padding-left: 64px;
  font-size: 20px;
}
.zy-detail .dt-times .times-show,
.zy-detail .dt-times .times-select {
  display: inline-block;
}
.zy-detail .dt-action {
  margin: 30px 0;
}
.zy-detail .dt-action ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.zy-detail .dt-action .btn {
  margin-right: 15px;
  padding-right: 40px;
  padding-left: 40px;
}
.zy-detail .dt-action .note {
  font-size: 12px;
  text-align: left;
}
.zy-detail .dt-contact {
  font-size: 15px;
}
.zy-detail .info-complete {
  margin-top: 30px;
}
.zy-detail .info-complete .m-tab-opt {
  display: table;
  width: 100%;
  padding: 15px 0;
  table-layout: fixed;
  border-top: 2px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
}
.zy-detail .info-complete .m-tab-opt li {
  display: table-cell;
}
.zy-detail .info-complete .m-tab-opt li a:hover, .zy-detail .info-complete .m-tab-opt li.active a {
  background-color: transparent;
  color: #ce3d3a;
}
.zy-datetime {
  width: 466px !important;
  max-width: 88%;
}
.zy-datetime-box {
  display: none;
  padding: 20px;
}
.zy-datetime .select-card li > label {
  width: 78px;
}
.zy-datetime .select-card li > label.checked, .zy-datetime .select-card li > label:hover {
  background-color: #5cb85c;
}
.zy-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 170px;
  overflow: hidden;
  background-color: #293038;
}
.zy-sidebar.fold {
  width: 72px;
  /* not support ie8
  & + .zy-main {
    margin-left: $smallNavWidth;
  }
  */
}
.zy-sidebar.fold .zy-sidebar-logo a {
  width: 42px;
}
.zy-sidebar.fold .zy-sidebar-logo .footnote {
  display: none;
}
.zy-sidebar.fold .zy-sidebar-nav {
  top: 91px;
  width: 90px;
}
.zy-sidebar.fold .zy-sidebar-nav .title > i,
.zy-sidebar.fold .zy-sidebar-nav .nav > li > a > i {
  width: 30px;
}
.zy-sidebar.fold .zy-sidebar-nav .title > span,
.zy-sidebar.fold .zy-sidebar-nav .nav > li > a > span {
  display: none;
}
.zy-sidebar.fold .zy-sidebar-nav .nav > li > a > .iconfont {
  font-size: 22px;
}
.zy-sidebar.fold .zy-sidebar-collapse span,
.zy-sidebar.fold .zy-sidebar-collapse .pull {
  display: none;
}
.zy-sidebar.fold .zy-sidebar-collapse .push {
  display: inline-block;
}
.zy-sidebar-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.zy-sidebar-logo a {
  display: inline-block;
  width: 142px;
  overflow: hidden;
}
.zy-sidebar-logo .footnote {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
  color: #fff;
  text-shadow: 1px 1px 1px #2d2d2d;
}
.zy-sidebar-nav {
  position: absolute;
  top: 111px;
  bottom: 36px;
  width: 188px;
  overflow: auto;
}
.zy-sidebar-nav .title,
.zy-sidebar-nav .nav > li > a {
  padding: 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.zy-sidebar-nav .title > i,
.zy-sidebar-nav .nav > li > a > i {
  display: inline-block;
  width: 25px;
  text-align: center;
}
.zy-sidebar-nav .title > span,
.zy-sidebar-nav .nav > li > a > span {
  margin-left: 10px;
}
.zy-sidebar-nav .title {
  margin: 0;
  background-color: #22282e;
  color: #fff;
  cursor: pointer;
}
.zy-sidebar-nav .title.pull {
  background-color: #37424f;
  border-bottom: 1px solid #414d5c;
}
.zy-sidebar-nav .title.pull .caret {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.zy-sidebar-nav .nav > li > a {
  margin: 1px 0;
  color: #aeb9c2;
}
.zy-sidebar-nav .nav > li > a .iconfont {
  font-size: 18px;
  vertical-align: inherit;
}
.zy-sidebar-nav .nav > li > a.active, .zy-sidebar-nav .nav > li > a:hover {
  background-color: #37424f;
  color: #fff;
}
.zy-sidebar-collapse {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background-color: #394555;
  color: #aeb9c2;
  cursor: pointer;
}
.zy-sidebar-collapse .iconfont {
  font-size: 20px;
}
.zy-sidebar-collapse .iconfont.push {
  display: none;
}
.zy-main {
  position: relative;
  margin-left: 170px;
}
.zy-main, .zy-main-offset-top, .zy-main-body {
  height: 100%;
}
.zy-main.unfold {
  margin-left: 72px;
}
.zy-main-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.zy-main-header .navbar-brand {
  display: none;
}
.zy-main-header .navbar-crumb {
  margin-left: -15px;
}
.zy-main-offset-top {
  padding-top: 60px;
}
.zy-main-body {
  padding: 15px;
  overflow: auto;
}
.zy-main-title {
  position: relative;
}
.zy-main-title h3 {
  margin: 0;
  padding: 6px 0;
  border-bottom: 8px solid #f4f4f4;
}
.zy-main-title h3 span {
  margin-right: 30px;
  padding: 0 5px;
  border-left: 2px solid transparent;
  font-size: 22px;
}
.zy-main-title h3 span a {
  color: #555555;
}
.zy-main-title h3 span.active {
  border-color: #ce3d3a;
}
.zy-main-title h3 span.active a {
  color: #ce3d3a;
}
.zy-main-parting h3 {
  position: relative;
  border-top: 2px dashed #dfdfdf;
}
.zy-main-parting h3 span {
  position: absolute;
  top: -10px;
  font-size: 20px;
  line-height: 1;
  background-color: #fff;
}
.zy-main-content {
  position: relative;
  padding: 30px 15px;
}
.zy-main-content-sup {
  position: absolute;
  top: 0;
  right: 0;
}
.zy-main-content .form-group textarea.form-control {
  min-height: 120px;
}
@media (min-width: 992px) {
  .zy-main-hang-right {
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 999;
  }
}
.zy-main-hang-right .zy-img-upload img {
  max-width: 140px;
}

.platform {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #dfdfdf;
}
.platform ul {
  margin-bottom: 0;
}
.platform ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 13px;
  line-height: 2;
}

/*# sourceMappingURL=styles.css.map */