.m-crm {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  padding: $contextSpace 0;
  font-size: 15px;
  
  .m-crm-name,
  .m-crm-ipt {
      display: none;
position: absolute;
top: 0;
left: -400%;
      width: 500%;
  padding: $contextSpace;
  
  &.sel {
      display: block;
  }
  }
  .m-crm-ipt input {
      padding: 0;
border: none;
  }
  .m-crm-search {
      position: relative;
  border-left: 1px solid #a8a9a9;
  }
  .u-ico {
      width: 15px * $baseLineHeight;
      vertical-align: baseline;
  }
}