.m-dlg {
  display: none;
  position: fixed;
  z-index: 999;
  background-color: rgba(0,0,0,.5);

  &.show {
    display: block;
  }

  &,
  &-ct {
    top: 0;
    width: 100%;
    height: 100%;
  }
  &-ct {
    position: absolute;
    @include translateX(140%);

    &.crt {
      @include translateX(0);
    }

    .m-pnl {
      width: 90%;
      min-width: 288px;
      max-width: 480px;
      overflow: hidden;
      background-color: rgba(0,0,0,.5);

      &-hd {
        background-color: rgba(255,255,255,.75);
      }
      &-bd {
        padding-top: $gridSpace * 6;
        padding-bottom: $gridSpace * 6;
      }
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: $gridSpace;
    cursor: pointer;
  }
}
