.m-fd { /*field*/
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  li {
    position: relative;
    margin-top: $contextSpace;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 120px;
    min-height: 16 * $baseLineHeight + 10px;
    &:first-child {
      margin-top: 0;
    }

    label {
      position: absolute;
      left: 0;
      width: 110px;
      font-weight: normal;
      text-align: right;
    }

    &.m-fd-tt {
      margin-bottom: $contextSpace;
      padding-left: 0;
      font-size: 18px;

      &.ws { /*WideScreen*/
        padding-left: 10%;
      }
    }
  }
}
