<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <title>智炎发展 - 社交平台</title>

    <!-- Bootstrap core CSS -->
    <link href="../src/css/bs.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="../src/themes/default/css/styles.css" rel="stylesheet">
    <!-- 生产环境请将样式表地址修改为：../assets/.../filename.min.css -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="zy">

<!-- framework start -->
<div class="g-doc">
    <div class="g-wrap">
        <div class="g-hd">
            <!-- header start -->
            <nav class="zy-header navbar navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">折叠导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="../assets/images/logo.png"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <div class="navbar-right">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="index.html">首页</a></li>
                                <li class="dropdown active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">企业服务 <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu f-tka">
                                        <div class="menu-full-bg"></div>
                                        <ul>
                                            <li class="u-mid">
                                                <p class="u-mid-ct"><a href="center/renzheng.html"><i class="iconfont">&#xe622;</i>企业认证</a></p>
                                                <p class="u-mid-ct"><a href="center/liucheng.html"><i class="iconfont">&#xe623;</i>入驻申请</a></p>
                                                <p class="u-mid-ct"><a href="center/shiming.html"><i class="iconfont">&#xe620;</i>实名认证</a></p>
                                                <p class="u-mid-ct"><a href="center/dav.html"><i class="iconfont">&#xe618;</i>大 V 认证</a></p>
                                            </li>
                                            <li class="u-mid">
                                                <p class="u-mid-ct"><a href="business-directory.html"><i class="iconfont">&#xe634;</i>企业名录</a></p>
                                                <p class="u-mid-ct"><a href="meeting-room.html"><i class="iconfont">&#xe621;</i>会议预约</a></p>
                                                <p class="u-mid-ct"><a href="forum.html"><i class="iconfont">&#xe615;</i>企业论坛</a></p>
                                                <p class="u-mid-ct">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                            </li>
                                            <!--
                                            <li class="u-mid-ct">
                                                <h5><b>认证类</b></h5>
                                                <p><a href="center/renzheng.html">企业认证</a></p>
                                                <p><a href="center/liucheng.html">入驻申请</a></p>
                                                <p><a href="center/shiming.html">实名认证</a></p>
                                                <p><a href="center/dav.html">大 V 认证</a></p>
                                            </li>
                                            <li class="u-mid-ct">
                                                <h5><b>服务类</b></h5>
                                                <p><a href="business-directory.html">企业名录</a></p>
                                                <p><a href="meeting-room.html">会议预约</a></p>
                                                <p><a href="forum.html">企业论坛</a></p>
                                            </li>
                                            <li class="u-mid-ct">
                                                <h5><b>增值延伸业务</b></h5>
                                                <p><a href="#">投融资</a></p>
                                                <p><a href="#">供应链</a></p>
                                                <p><a href="#">IT 解决方案</a></p>
                                                <p><a href="#">软件定制</a></p>
                                            </li>
                                            -->
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">智炎产业 <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu f-tka">
                                        <div class="menu-full-bg"></div>
                                        <ul>
                                            <li class="u-mid">
                                                <p class="u-mid-ct"><a href="base-beijing.html"><i class="iconfont">&#xe626;</i>北京基地</a></p>
                                                <p class="u-mid-ct"><a href="base-shandong.html"><i class="iconfont">&#xe626;</i>山东基地</a></p>
                                                <p class="u-mid-ct"><a href="base-chengdu.html"><i class="iconfont">&#xe626;</i>成都基地</a></p>
                                                <!--<p class="u-mid-ct"><a href="#"><i class="iconfont">&#xe629;</i><br>更多</a></p>-->
                                                <!--<p class="u-mid-ct"><a href="#"><i class="iconfont">&#xe62c;</i><br>创业秘技</a></p>-->
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">智炎介绍 <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu f-tka">
                                        <div class="menu-full-bg"></div>
                                        <ul>
                                            <li class="u-mid">
                                                <p class="u-mid-ct"><a href="about.html"><i class="iconfont">&#xe62d;</i>公司介绍</a></p>
                                                <p class="u-mid-ct"><a href="system.html"><i class="iconfont">&#xe62e;</i>四大体系</a></p>
                                                <p class="u-mid-ct"><a href="faculty.html"><i class="iconfont">&#xe628;</i>师资力量</a></p>
                                                <p class="u-mid-ct"><a href="contact.html"><i class="iconfont">&#xe62b;</i>联系我们</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <a class="btn btn-outline btn-danger" href="register1.html">免费注册</a>
                            <a class="btn btn-danger" href="login.html">登 录</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- header end -->
        </div>
        <div class="g-bd">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">

                        <!-- main content start -->
                        <!--<div class="f-es-sm"></div>-->
                        <!--<a class="zy-banner s-bg-cov" href="#" target="_blank" style="background-image: url('../assets/images/wing/02.jpg')"></a>-->
                        <div class="f-es-sm"></div>

                        <!-- 论坛开始 -->
                        <div class="zy-main-title">
                            <h3><span class="active">企业论坛</span></h3>
                        </div>
                        <div class="zy-main-content">

                            <div class="form-inline text-center">
                                <div class="form-group">
                                    <label class="sr-only" for="tag_type">分类标签</label>
                                    <select class="form-control" id="tag_type">
                                        <option>分类标签</option>
                                        <option>分类标签</option>
                                        <option>分类标签</option>
                                        <option>分类标签</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="请输入搜索内容">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">标题 <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li><a href="#">标题1</a></li>
                                                <li><a href="#">标题2</a></li>
                                                <li><a href="#">标题3</a></li>
                                                <li><a href="#">标题4</a></li>
                                                <li><a href="#">标题5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-danger" href="#">查询</a>
                                <a class="btn btn-primary" href="discuss-create.html">创建讨论</a>
                            </div>

                            <div class="f-es-sm"></div>
                            <p class="text-right"><a href="discuss.html">全部论坛</a></p>

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>分类标签</th>
                                        <th>标        题</th>
                                        <th>发布者</th>
                                        <th>发布时间</th>
                                        <th>回复</th>
                                        <th>查看</th>
                                        <th>最后发表</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-important">【博客】</td>
                                        <td><a href="discuss-detail.html">XXXXXXXXXXXXXXXXXX</a></td>
                                        <td>张艺兴</td>
                                        <td>2016-09-21</td>
                                        <td>100</td>
                                        <td>200</td>
                                        <td>2016-09-22</td>
                                    </tr>
                                    <tr>
                                        <td class="text-important">【博客】</td>
                                        <td><a href="discuss-detail.html">XXXXXXXXXXXXXXXXXX</a></td>
                                        <td>张艺兴</td>
                                        <td>2016-09-21</td>
                                        <td>100</td>
                                        <td>200</td>
                                        <td>2016-09-22</td>
                                    </tr>
                                    <tr>
                                        <td class="text-important">【博客】</td>
                                        <td><a href="discuss-detail.html">XXXXXXXXXXXXXXXXXX</a></td>
                                        <td>张艺兴</td>
                                        <td>2016-09-21</td>
                                        <td>100</td>
                                        <td>200</td>
                                        <td>2016-09-22</td>
                                    </tr>
                                    <tr>
                                        <td class="text-important">【博客】</td>
                                        <td><a href="discuss-detail.html">XXXXXXXXXXXXXXXXXX</a></td>
                                        <td>张艺兴</td>
                                        <td>2016-09-21</td>
                                        <td>100</td>
                                        <td>200</td>
                                        <td>2016-09-22</td>
                                    </tr>
                                    <tr>
                                        <td class="text-important">【博客】</td>
                                        <td><a href="discuss-detail.html">XXXXXXXXXXXXXXXXXX</a></td>
                                        <td>张艺兴</td>
                                        <td>2016-09-21</td>
                                        <td>100</td>
                                        <td>200</td>
                                        <td>2016-09-22</td>
                                    </tr>
                                    <tr>
                                        <td class="text-important">【博客】</td>
                                        <td><a href="discuss-detail.html">XXXXXXXXXXXXXXXXXX</a></td>
                                        <td>张艺兴</td>
                                        <td>2016-09-21</td>
                                        <td>100</td>
                                        <td>200</td>
                                        <td>2016-09-22</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- 论坛结束 -->

                        <!-- 聊天室开始 -->
                        <div class="zy-main-title">
                            <h3><span class="active">聊天室</span></h3>
                        </div>
                        <div class="zy-main-content">

                            <div class="form-inline text-center">
                                <div class="form-group">
                                    <label class="sr-only" for="tag_type2">分类标签</label>
                                    <select class="form-control" id="tag_type2">
                                        <option>分类标签</option>
                                        <option>分类标签</option>
                                        <option>分类标签</option>
                                        <option>分类标签</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="请输入搜索内容">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">房间编号 <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li><a href="#">房间1</a></li>
                                                <li><a href="#">房间2</a></li>
                                                <li><a href="#">房间3</a></li>
                                                <li><a href="#">房间4</a></li>
                                                <li><a href="#">房间5</a></li>
                                                <li><a href="#">房间6</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-danger" href="#">查询</a>
                                <a class="btn btn-primary" href="chats-create.html">创建房间</a>
                            </div>

                            <div class="f-es-sm"></div>
                            <p class="text-right"><a href="chats.html">全部聊天</a></p>

                            <ul class="m-sbs m-sbs-box show-card">
                                <li>
                                    <h3 class="card-title f-toe" title="房间名称房间名称房间名称">房间名称房间名称房间名称</h3>
                                    <div class="u-cnn"><i></i><span>001</span></div>
                                    <div class="card-body">
                                        <p><b>分   类：</b><span class="text-important">互联网020</span></p>
                                        <p><b>发起者：</b><span>张艺兴</span></p>
                                        <p class="long-text"><b>参与者：</b><span>【V】XXX</span><span>【V】XX</span><span>【V】XX</span><span>【V】XXX</span><span>【V】XXX</span></p>
                                        <p class="last"><b>最后发言：</b>2016-9-10</p>
                                    </div>
                                    <div class="card-foot"><a href="chats-detail.html">进   入</a></div>
                                </li>
                                <li>
                                    <h3 class="card-title f-toe" title="房间名称">房间名称</h3>
                                    <div class="u-cnn"><i></i><span>002</span></div>
                                    <div class="card-body">
                                        <p><b>分   类：</b><span class="text-important">互联网020</span></p>
                                        <p><b>发起者：</b><span>张艺兴</span></p>
                                        <p class="long-text"><b>参与者：</b><span>【V】XXX</span><span>【V】XX</span><span>【V】XX</span><span>【V】XXX</span><span>【V】XXX</span><span>【V】XX</span><span>【V】XX</span><span>【V】XXX</span><span>【V】XXX</span></p>
                                        <p class="last"><b>最后发言：</b>2016-9-10</p>
                                    </div>
                                    <div class="card-foot"><a href="chats-detail.html">进   入</a></div>
                                </li>
                                <li>
                                    <h3 class="card-title f-toe" title="房间名称房间名称房间名称">房间名称房间名称房间名称</h3>
                                    <div class="u-cnn"><i></i><span>003</span></div>
                                    <div class="card-body">
                                        <p><b>分   类：</b><span class="text-important">互联网020</span></p>
                                        <p><b>发起者：</b><span>张艺兴</span></p>
                                        <p class="long-text"><b>参与者：</b><span>【V】XXX</span><span>【V】XX</span><span>【V】XX</span><span>【V】XXX</span><span>【V】XXX</span></p>
                                        <p class="last"><b>最后发言：</b>2016-9-10</p>
                                    </div>
                                    <div class="card-foot"><a href="chats-detail.html">进   入</a></div>
                                </li>
                            </ul>

                        </div>
                        <!-- 聊天室结束 -->
                        <!-- main content end -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="g-ft">
    <!-- footer start -->
    <div class="zy-footer">
        <div class="ft-container ft-coop">
            <div class="ft-content">
                <ul class="m-sbs f-tka">
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-01.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-02.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-03.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-04.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-05.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-06.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-07.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-08.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-09.jpg"></a></li>
                </ul>
            </div>
        </div>
        <div class="ft-container ft-links">
            <div class="ft-content">
                <ul class="m-sbs f-tka">
                    <li><a href="#">关于智炎</a></li>
                    <li>|</li>
                    <li><a href="#">我们的团队</a></li>
                    <li>|</li>
                    <li><a href="#">诚征英才</a></li>
                    <li>|</li>
                    <li><a href="#">智炎控制台</a></li>
                    <li>|</li>
                    <li><a href="#">认证控制台</a></li>
                    <li>|</li>
                    <li><a href="#">企业名录</a></li>
                    <li>|</li>
                    <li><a href="#">基地风采</a></li>
                    <li>|</li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <div class="ft-container ft-copyright">
                <div class="ft-content">
                    <p class="text-center f-tka">Copyright&copy; 上海智炎电子商务发展有限公司
                        2016-<script>document.write((new Date()).getFullYear())</script>
                        ，All Reserved &nbsp;&nbsp; 沪ICP备13034807号-2</p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->
</footer>
<!-- framework end -->

<!-- Bootstrap core JavaScript
================================================== -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery.mousewheel.min.js"></script>
<script src="../assets/js/twitter-bootstrap-hover-dropdown.min.js"></script>

<!-- Custom script for this project -->
<script src="../assets/themes/default/js/main.min.js"></script>

</body>
</html>
