<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <title>智炎发展 - 账户充值</title>

    <!-- Bootstrap core CSS -->
    <link href="../src/css/bs.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="../src/themes/default/css/styles.css" rel="stylesheet">
    <!-- 生产环境请将样式表地址修改为：../assets/.../filename.min.css -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="zy">

<!-- framework start -->
<div class="g-doc">
    <div class="g-wrap">
        <div class="g-hd">
            <!-- header start -->
            <nav class="zy-header navbar navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">折叠导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="../assets/images/logo.png"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <div class="navbar-right">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="index.html">首页</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">企业服务 <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu f-tka">
                                        <div class="menu-full-bg"></div>
                                        <ul>
                                            <li class="u-mid">
                                                <p class="u-mid-ct"><a href="center/renzheng.html"><i class="iconfont">&#xe622;</i>企业认证</a></p>
                                                <p class="u-mid-ct"><a href="center/liucheng.html"><i class="iconfont">&#xe623;</i>入驻申请</a></p>
                                                <p class="u-mid-ct"><a href="center/shiming.html"><i class="iconfont">&#xe620;</i>实名认证</a></p>
                                                <p class="u-mid-ct"><a href="center/dav.html"><i class="iconfont">&#xe618;</i>大 V 认证</a></p>
                                            </li>
                                            <li class="u-mid">
                                                <p class="u-mid-ct"><a href="business-directory.html"><i class="iconfont">&#xe634;</i>企业名录</a></p>
                                                <p class="u-mid-ct"><a href="meeting-room.html"><i class="iconfont">&#xe621;</i>会议预约</a></p>
                                                <p class="u-mid-ct"><a href="forum.html"><i class="iconfont">&#xe615;</i>企业论坛</a></p>
                                                <p class="u-mid-ct">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                            </li>
                                            <!--
                                            <li class="u-mid-ct">
                                                <h5><b>认证类</b></h5>
                                                <p><a href="center/renzheng.html">企业认证</a></p>
                                                <p><a href="center/liucheng.html">入驻申请</a></p>
                                                <p><a href="center/shiming.html">实名认证</a></p>
                                                <p><a href="center/dav.html">大 V 认证</a></p>
                                            </li>
                                            <li class="u-mid-ct">
                                                <h5><b>服务类</b></h5>
                                                <p><a href="business-directory.html">企业名录</a></p>
                                                <p><a href="meeting-room.html">会议预约</a></p>
                                                <p><a href="forum.html">企业论坛</a></p>
                                            </li>
                                            <li class="u-mid-ct">
                                                <h5><b>增值延伸业务</b></h5>
                                                <p><a href="#">投融资</a></p>
                                                <p><a href="#">供应链</a></p>
                                                <p><a href="#">IT 解决方案</a></p>
                                                <p><a href="#">软件定制</a></p>
                                            </li>
                                            -->
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">智炎产业 <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu f-tka">
                                        <div class="menu-full-bg"></div>
                                        <ul>
                                            <li class="u-mid">
                                                <p class="u-mid-ct"><a href="base-beijing.html"><i class="iconfont">&#xe626;</i>北京基地</a></p>
                                                <p class="u-mid-ct"><a href="base-shandong.html"><i class="iconfont">&#xe626;</i>山东基地</a></p>
                                                <p class="u-mid-ct"><a href="base-chengdu.html"><i class="iconfont">&#xe626;</i>成都基地</a></p>
                                                <!--<p class="u-mid-ct"><a href="#"><i class="iconfont">&#xe629;</i><br>更多</a></p>-->
                                                <!--<p class="u-mid-ct"><a href="#"><i class="iconfont">&#xe62c;</i><br>创业秘技</a></p>-->
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">智炎介绍 <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu f-tka">
                                        <div class="menu-full-bg"></div>
                                        <ul>
                                            <li class="u-mid">
                                                <p class="u-mid-ct"><a href="about.html"><i class="iconfont">&#xe62d;</i>公司介绍</a></p>
                                                <p class="u-mid-ct"><a href="system.html"><i class="iconfont">&#xe62e;</i>四大体系</a></p>
                                                <p class="u-mid-ct"><a href="faculty.html"><i class="iconfont">&#xe628;</i>师资力量</a></p>
                                                <p class="u-mid-ct"><a href="contact.html"><i class="iconfont">&#xe62b;</i>联系我们</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <a class="btn btn-outline btn-danger" href="register1.html">免费注册</a>
                            <a class="btn btn-danger" href="login.html">登 录</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- header end -->
        </div>
        <div class="g-bd">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">

                        <!-- main content start -->
                        <div class="f-es-md"></div>

                        <!-- 用户信息开始 -->
                        <div class="zy-main-title">
                            <h3><span class="active">账户信息</span></h3>
                        </div>
                        <div class="zy-main-content form-horizontal">

                            <div class="form-group">
                                <label for="account" class="col-sm-3 control-label">充值账户：</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="account" placeholder="请输入账户" value="User001">
                                </div>
                            </div>

                            <div class="form-group has-error">
                                <label for="confirm" class="col-sm-3 control-label">账号确认：</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="confirm" placeholder="请输入确认信息">
                                    <p class="form-control-static text-danger">这里是错误信息</p>
                                </div>
                                <div class="col-sm-3">
                                    <p class="form-control-static">上海智炎电子商务发展有限公司</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">充值金额：</label>
                                <div class="col-sm-6">

                                    <!-- 根据name分组，
                                    value为-1表示其他,
                                    这里demo公用一个.select-other
                                    开发时记得将demo改为实际项目需要 -->
                                    <ul class="m-sbs select-card">
                                        <li><label><input type="checkbox" name="money" value="500">500元</label></li>
                                        <li><label><input type="checkbox" name="money" value="1000">1000元</label></li>
                                        <li><label><input type="checkbox" name="money" value="3000">3000元</label></li>
                                        <li><label><input type="checkbox" name="money" value="-1">5000元</label></li>
                                        <li><label><input type="radio" name="money1" value="10000">10000元</label></li>
                                        <li><label><input type="radio" name="money1" value="30000">30000元</label></li>
                                        <li><label><input type="radio" name="money1" value="50000" disabled>50000元</label></li>
                                        <li><label><input type="radio" name="money1" value="-1">其他</label></li>
                                    </ul>
                                    <div class="row select-other">
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" name="other_money" placeholder="其他金额">
                                        </div>
                                        <div class="col-xs-3">
                                            <p class="form-control-static">元</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- 用户信息结束 -->
                        
                        <!-- 充值开始 -->
                        <div class="m-tab">
                            <ul class="m-tab-opt rectangle text-center">
                                <li class="active"><a href="#tabCont1" data-toggle="tab">在线支付</a></li>
                                <li><a href="#tabCont2" data-toggle="tab">转账汇款</a></li>
                            </ul>
                            <div class="m-tab-cnt">
                                <div class="item active" id="tabCont1">

                                    <div class="zy-main-title">
                                        <h3><span class="active">支付方式</span></h3>
                                    </div>
                                    <div class="zy-main-content form-horizontal">

                                        <ul class="m-sbs rectangle">
                                            <li>支付宝</li>
                                            <li>微   信</li>
                                            <li class="active">银联付款</li>
                                        </ul>

                                        <ul class="m-sbs select-bank">
                                            <li><label><input type="radio" name="bank" value="nongye" disabled> <i class="u-ico u-ico-bank-nongye">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="gongshang" disabled> <i class="u-ico u-ico-bank-gongshang">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="jianshe"> <i class="u-ico u-ico-bank-jianshe">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="youzheng"> <i class="u-ico u-ico-bank-youzheng">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="zhongguo"> <i class="u-ico u-ico-bank-zhongguo">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="zhaoshang"> <i class="u-ico u-ico-bank-zhaoshang">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="jiaotong"> <i class="u-ico u-ico-bank-jiaotong">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="pufa"> <i class="u-ico u-ico-bank-pufa">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="guangda"> <i class="u-ico u-ico-bank-guangda">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="zhongxin"> <i class="u-ico u-ico-bank-zhongxin">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="pingan"> <i class="u-ico u-ico-bank-pingan">&nbsp;</i></label></li>
                                            <li><label><input type="radio" name="bank" value="minsheng"> <i class="u-ico u-ico-bank-minsheng">&nbsp;</i></label></li>
                                        </ul>

                                    </div>

                                </div>
                                <div class="item" id="tabCont2">

                                    <div class="zy-main-title">
                                        <h3><span class="active">转账汇款</span></h3>
                                        <p class="zy-main-title-sub text-important">为了您的合法权益，转账时请备注：1、智炎账号        2、公司名（如有）     3、联系人及手机</p>
                                    </div>
                                    <div class="zy-main-content form-horizontal">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 col-md-5 control-label">开户行：</label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static">XXXXXXXXXXXXXXXXX</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 col-md-5 control-label">户   名：</label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static">XXXXXXXXXXXXXXXXX</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 col-md-5 control-label">账   号：</label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static">XXXXXXXXXXXXXXXXX</p>
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="form-group">
                                                    <div class="col-sm-12 form-buttons text-center">
                                                        <a class="btn btn-primary" href="#">转账信息</a>
                                                        <p class="zy-form-tips">我已转账，我要输入转账信息</p>
                                                    </div>
                                                </div>
                                                -->
                                            </div>
                                            <div class="col-md-8">

                                                <div class="form-group">
                                                    <div class="zy-main-hang-right col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0">
                                                        <div class="zy-img-upload">
                                                            <label>
                                                                <input type="file">
                                                                <img src="../assets/images/img-none.png">
                                                                <a href="#">*转账汇款单上传</a>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="name" class="col-sm-3 control-label">*户      名：</label>
                                                    <div class="col-sm-9 col-md-6">
                                                        <input type="text" class="form-control" id="name" placeholder="请输入户名">
                                                        <p class="form-control-static text-danger">这里是错误信息</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="card_number" class="col-sm-3 control-label">*卡       号：</label>
                                                    <div class="col-sm-9 col-md-6">
                                                        <input type="text" class="form-control" id="card_number" placeholder="请输入卡号">
                                                        <p class="form-control-static text-danger">这里是错误信息</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="account2" class="col-sm-3 control-label">*充值账号：</label>
                                                    <div class="col-sm-9 col-md-6">
                                                        <input type="text" class="form-control" id="account2" placeholder="请输入充值账号">
                                                        <p class="form-control-static text-danger">这里是错误信息</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="amount" class="col-sm-3 control-label">*充值金额：</label>
                                                    <div class="col-sm-9 col-md-6">
                                                        <input type="text" class="form-control" id="amount" placeholder="请输入充值金额">
                                                        <p class="form-control-static text-danger">这里是错误信息</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="company_name" class="col-sm-3 control-label">公司名称：</label>
                                                    <div class="col-sm-9 col-md-6">
                                                        <input type="text" class="form-control" id="company_name" placeholder="请输入公司名称">
                                                        <p class="form-control-static text-danger">这里是错误信息</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="remark" class="col-sm-3 control-label">备       注：</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" id="remark" placeholder="紧急联系人及联系方式"></textarea>
                                                        <p class="form-control-static text-danger">这里是错误信息</p>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-9 col-sm-offset-3 form-buttons">
                                                        <a class="btn btn-primary" href="#">提&nbsp;&nbsp;&nbsp;&nbsp;交</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- 充值结束 -->
                        <!-- main content end -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="g-ft">
    <!-- footer start -->
    <div class="zy-footer">
        <div class="ft-container ft-coop">
            <div class="ft-content">
                <ul class="m-sbs f-tka">
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-01.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-02.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-03.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-04.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-05.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-06.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-07.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-08.jpg"></a></li>
                    <li><a href="#"><img src="../assets/themes/default/images/3/3-09.jpg"></a></li>
                </ul>
            </div>
        </div>
        <div class="ft-container ft-links">
            <div class="ft-content">
                <ul class="m-sbs f-tka">
                    <li><a href="#">关于智炎</a></li>
                    <li>|</li>
                    <li><a href="#">我们的团队</a></li>
                    <li>|</li>
                    <li><a href="#">诚征英才</a></li>
                    <li>|</li>
                    <li><a href="#">智炎控制台</a></li>
                    <li>|</li>
                    <li><a href="#">认证控制台</a></li>
                    <li>|</li>
                    <li><a href="#">企业名录</a></li>
                    <li>|</li>
                    <li><a href="#">基地风采</a></li>
                    <li>|</li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <div class="ft-container ft-copyright">
                <div class="ft-content">
                    <p class="text-center f-tka">Copyright&copy; 上海智炎电子商务发展有限公司
                        2016-<script>document.write((new Date()).getFullYear())</script>
                        ，All Reserved &nbsp;&nbsp; 沪ICP备13034807号-2</p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->
</footer>
<!-- framework end -->

<!-- Bootstrap core JavaScript
================================================== -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery.mousewheel.min.js"></script>
<script src="../assets/js/twitter-bootstrap-hover-dropdown.min.js"></script>

<!-- Custom script for this project -->
<script src="../assets/themes/default/js/main.min.js"></script>

</body>
</html>
