<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/images/favicon.ico">

    <title>智炎发展 - 控制中心 - 我的房间 - 编辑</title>

    <!-- Bootstrap core CSS -->
    <link href="../../src/css/bs.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="../../src/themes/default/css/styles.css" rel="stylesheet">
    <!-- 生产环境请将样式表地址修改为：../../assets/.../filename.min.css -->

    <!-- 第三方时间控件样式 -->
    <link href="../../assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.min.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="zy">

<!-- sidebar start -->
<div id="zy_sidebar" class="zy-sidebar">
    <div class="zy-sidebar-logo">
        <a href="../index.html">
            <img src="../../assets/images/logo-control.png">
            <span class="footnote">控制台</span>
        </a>
    </div>
    <div class="zy-sidebar-nav">
        <h5 class="title"><i><i class="caret"></i></i><span>业务中心</span></h5>
        <ul class="nav">
            <li><a href="renzheng.html"><i class="iconfont">&#xe622;</i><span>企业认证</span></a></li>
            <li><a href="liucheng.html"><i class="iconfont">&#xe623;</i><span>企业入驻流程</span></a></li>
            <li><a href="jiaru.html"><i class="iconfont">&#xe61e;</i><span>加入企业</span></a></li>
            <li><a href="yuyue.html"><i class="iconfont">&#xe621;</i><span>会议预约</span></a></li>
            <li><a href="luntan.html"><i class="iconfont">&#xe615;</i><span>我的论坛</span></a></li>
            <li><a class="active" href="liaotian.html"><i class="iconfont">&#xe619;</i><span>我的聊天室</span></a></li>
        </ul>

        <h5 class="title"><i><i class="caret"></i></i><span>个人中心</span></h5>
        <ul class="nav">
            <li><a href="jiben.html"><i class="iconfont">&#xe616;</i><span>基本信息</span></a></li>
            <li><a href="anquan.html"><i class="iconfont">&#xe61d;</i><span>安全设置</span></a></li>
            <li><a href="shiming.html"><i class="iconfont">&#xe620;</i><span>实名认证</span></a></li>
            <li><a href="dav.html"><i class="iconfont">&#xe618;</i><span>大V认证</span></a></li>
            <li><a href="chongzhi.html"><i class="iconfont">&#xe61c;</i><span>账户充值</span></a></li>
            <li><a href="juan.html"><i class="iconfont">&#xe617;</i><span>代金券</span></a></li>
            <li><a href="jilu-chongzhi.html"><i class="iconfont">&#xe625;</i><span>充值记录</span></a></li>
            <li><a href="jilu-xiaofei.html"><i class="iconfont">&#xe61f;</i><span>消费记录</span></a></li>
            <li><a href="#"><i class="iconfont">&#xe624;</i><span>转账汇款记录</span></a></li>
        </ul>
    </div>
    <div class="zy-sidebar-collapse">
        <i class="iconfont pull">&#xe611;</i>
        <i class="iconfont push">&#xe612;</i>
        <span>收缩侧边栏</span>
    </div>

</div>
<!-- sidebar end -->

<!-- main start -->
<div class="zy-main">

    <!-- main header, crumb start -->
    <nav class="zy-main-header navbar" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <ul class="nav navbar-nav navbar-crumb">
                <li><a href="#"><i class="iconfont">&#xe613;</i> 返回</a></li>
                <li><a href="#">一级面包</a></li>
                <li><a href="#">二级面包</a></li>
                <li><span>最后面包</span></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        更多操作...
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单1</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单2</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单3</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                    </ul>
                </li>
            </ul>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">菜单1</a></li>
                    <li><a href="#">菜单2</a></li>
                    <li><a href="#">菜单3</a></li>
                    <li><a href="#">菜单4</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            菜单5
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单2</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单3</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- main header, crumb end -->

    <div class="zy-main-offset-top">
        <div class="zy-main-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">

                        <!-- main content start -->
                        <div class="zy-main-title">
                            <h3><span class="active">编辑房间</span></h3>
                        </div>
                        <div class="zy-main-content form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">房间编号：</label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">1001</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">房间名称：</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="name" placeholder="请输入房间名称" value="xxxxxxxxx">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="type" class="col-sm-3 control-label">分      类：</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="type">
                                        <option>选择分类</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                    <p class="form-control-static text-danger">这里是错误信息</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="time" class="col-sm-3 control-label">开始时间：</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control datetimepicker" id="time" placeholder="请输入开始时间">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="invite" class="col-sm-3 control-label">邀请人员：</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="invite" placeholder="邀请好友">@xxx、@xxx、</textarea>
                                    <p class="form-control-static text-danger">这里是错误信息</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">是否公开：</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="stay" checked> 是
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="stay"> 否
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pass" class="col-sm-3 control-label">房间密码：</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="pass" placeholder="请输入房间密码" value="xxxxxxxxx">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="content" class="col-sm-3 control-label">公       告：</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="content" placeholder="公告正文" style="width:100%"></textarea>
                                    <p class="form-control-static text-danger">这里是错误信息</p>
                                </div>
                            </div>

                            <div class="form-small-space"></div>

                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3 form-buttons">
                                    <a class="btn btn-default" href="#">删除</a>
                                    <a class="btn btn-primary" href="#">提交</a>
                                </div>
                            </div>
                        </div>
                        <!-- main content end -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- main end -->

<!-- Bootstrap core JavaScript
================================================== -->
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>

<!-- 时间控件 -->
<script src="../../assets/js/bootstrap-datetimepicker.min.js"></script>
<!-- kindEditor 富文本编辑器 -->
<script src="../../assets/js/kindeditor-4.1.7/kindeditor-min.js"></script>

<!-- Custom script for this project -->
<script src="../../assets/themes/default/js/main.min.js"></script>
<script>
    $(function() {
        $(".datetimepicker").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            todayBtn: true
        });
    });
    KindEditor.ready(function(K) {
        window.editor = K.create('#content');
    });
</script>

</body>
</html>
