<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/images/favicon.ico">

    <title>智炎发展 - 控制中心 - 会议预约 - 详情</title>

    <!-- Bootstrap core CSS -->
    <link href="../../src/css/bs.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="../../src/themes/default/css/styles.css" rel="stylesheet">
    <!-- 生产环境请将样式表地址修改为：../../assets/.../filename.min.css -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.min.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="zy">

<!-- sidebar start -->
<div id="zy_sidebar" class="zy-sidebar">
    <div class="zy-sidebar-logo">
        <a href="../index.html">
            <img src="../../assets/images/logo-control.png">
            <span class="footnote">控制台</span>
        </a>
    </div>
    <div class="zy-sidebar-nav">
        <h5 class="title"><i><i class="caret"></i></i><span>业务中心</span></h5>
        <ul class="nav">
            <li><a href="renzheng.html"><i class="iconfont">&#xe622;</i><span>企业认证</span></a></li>
            <li><a href="liucheng.html"><i class="iconfont">&#xe623;</i><span>企业入驻流程</span></a></li>
            <li><a href="jiaru.html"><i class="iconfont">&#xe61e;</i><span>加入企业</span></a></li>
            <li><a class="active" href="yuyue.html"><i class="iconfont">&#xe621;</i><span>会议预约</span></a></li>
            <li><a href="luntan.html"><i class="iconfont">&#xe615;</i><span>我的论坛</span></a></li>
            <li><a href="liaotian.html"><i class="iconfont">&#xe619;</i><span>我的聊天室</span></a></li>
        </ul>

        <h5 class="title"><i><i class="caret"></i></i><span>个人中心</span></h5>
        <ul class="nav">
            <li><a href="jiben.html"><i class="iconfont">&#xe616;</i><span>基本信息</span></a></li>
            <li><a href="anquan.html"><i class="iconfont">&#xe61d;</i><span>安全设置</span></a></li>
            <li><a href="shiming.html"><i class="iconfont">&#xe620;</i><span>实名认证</span></a></li>
            <li><a href="dav.html"><i class="iconfont">&#xe618;</i><span>大V认证</span></a></li>
            <li><a href="chongzhi.html"><i class="iconfont">&#xe61c;</i><span>账户充值</span></a></li>
            <li><a href="juan.html"><i class="iconfont">&#xe617;</i><span>代金券</span></a></li>
            <li><a href="jilu-chongzhi.html"><i class="iconfont">&#xe625;</i><span>充值记录</span></a></li>
            <li><a href="jilu-xiaofei.html"><i class="iconfont">&#xe61f;</i><span>消费记录</span></a></li>
            <li><a href="#"><i class="iconfont">&#xe624;</i><span>转账汇款记录</span></a></li>
        </ul>
    </div>
    <div class="zy-sidebar-collapse">
        <i class="iconfont pull">&#xe611;</i>
        <i class="iconfont push">&#xe612;</i>
        <span>收缩侧边栏</span>
    </div>

</div>
<!-- sidebar end -->

<!-- main start -->
<div class="zy-main">

    <!-- main header, crumb start -->
    <nav class="zy-main-header navbar" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <ul class="nav navbar-nav navbar-crumb">
                <li><a href="#"><i class="iconfont">&#xe613;</i> 返回</a></li>
                <li><a href="#">一级面包</a></li>
                <li><a href="#">二级面包</a></li>
                <li><span>最后面包</span></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        更多操作...
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单1</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单2</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单3</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                    </ul>
                </li>
            </ul>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">菜单1</a></li>
                    <li><a href="#">菜单2</a></li>
                    <li><a href="#">菜单3</a></li>
                    <li><a href="#">菜单4</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            菜单5
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单2</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">子菜单3</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- main header, crumb end -->

    <div class="zy-main-offset-top">
        <div class="zy-main-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">

                        <!-- main content start -->
                        <div class="zy-main-title">
                            <h3><span class="active">会议预约内容</span></h3>
                        </div>
                        <div class="zy-main-content form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">预约状态：</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">待使用</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">预约详情：</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static text-right">总计<span class="text-important">400</span>元</p>
                                </div>
                                <div class="col-sm-12 f-es-sm"></div>
                                <div class="col-sm-11 col-sm-offset-1">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>日期</th>
                                                <th>使用时间段</th>
                                                <th>金额</th>
                                                <th>状态</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>2016-10-2</td>
                                                <td>08：00~09：00</td>
                                                <td>100</td>
                                                <td>完   成</td>
                                            </tr>
                                            <tr>
                                                <td>2016-10-2</td>
                                                <td>08：00~09：00</td>
                                                <td>100</td>
                                                <td>待使用</td>
                                            </tr>
                                            <tr>
                                                <td>2016-10-2</td>
                                                <td>08：00~09：00</td>
                                                <td>100</td>
                                                <td>待使用</td>
                                            </tr>
                                            <tr>
                                                <td>2016-10-2</td>
                                                <td>08：00~09：00</td>
                                                <td>100</td>
                                                <td>待使用</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p class="text-important">超过预定时间，使用状态将自动更改为完成，请按时使用会议室。</p>
                                </div>
                                <div class="col-sm-12 f-es-sm"></div>
                                <div class="col-sm-11 col-sm-offset-1">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>总计</th>
                                                <th>余额支付</th>
                                                <th>代金券</th>
                                                <th>代金券信息</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>400元</td>
                                                <td>XXXXXXX</td>
                                                <td>XXXXXXX</td>
                                                <td>
                                                    <div class="table-nesting">
                                                        <table class="table">
                                                            <tbody>
                                                            <tr>
                                                                <td>XX</td>
                                                                <td>XX</td>
                                                            </tr>
                                                            <tr>
                                                                <td>XX</td>
                                                                <td>XX</td>
                                                            </tr>
                                                            <tr>
                                                                <td>XX</td>
                                                                <td>XX</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">会议室信息：</label>
                                <div class="col-sm-12 f-es-sm"></div>
                                <div class="col-sm-11 col-sm-offset-1">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>标题</th>
                                                <th>隶属园区</th>
                                                <th>地址</th>
                                                <th>电话</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td><a href="../meeting-room-detail.html">查看</a></td>
                                            </tr>
                                            <tr>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td><a href="../meeting-room-detail.html">查看</a></td>
                                            </tr>
                                            <tr>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td>XXXXXXXXXXXXXXX</td>
                                                <td><a href="../meeting-room-detail.html">查看</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- main content end -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- main end -->

<!-- Bootstrap core JavaScript
================================================== -->
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>

<!-- Custom script for this project -->
<script src="../../assets/themes/default/js/main.min.js"></script>

</body>
</html>
